body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
}
table {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .th-highLight {
      background-color: #5b5b5b;
  }
  canvas {
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -500;
  }

  .loginForm{
    color: black;
  }