<!DOCTYPE html>
<html lang="de">
   <head>
      <title>UnitFilter - Fast fertig</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1") }}">
      <!--===============================================================================================-->	
      <link rel="icon" type="image/png" href="{{ static_url("images/icons/favicon.ico") }}"/>
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/bootstrap/css/bootstrap.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("fonts/iconic/css/material-design-iconic-font.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animate/animate.css") }}">
      <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/css-hamburgers/hamburgers.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animsition/css/animsition.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/select2/select2.min.css") }}">
      <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/daterangepicker/daterangepicker.css") }}">
      <script src='https://unpkg.com/trianglify@^4/dist/trianglify.bundle.js'></script>
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("css/util.css") }}">
	  <link rel="stylesheet" type="text/css" href="{{ static_url("css/main.css") }}">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
      <!--===============================================================================================-->
   </head>
   <body onresize="triangle()">
      <script>
         function triangle(){
           try {
         
             toDel = document.getElementsByTagName("canvas")
             i = 0
             while(i <= toDel.length){
               toDel[i].remove()
               i++;
             }
           }catch(e){
           console.log("Removal of canvas failed")
         }
         
             const pattern = trianglify({
               cellSize: 100,
               width: window.innerWidth,
               height: window.innerHeight,
               /*
               width: 3840,
               height: 2160,*/
             colorSpace: 'lab',
             colorFunction: trianglify.colorFunctions.interpolateLinear(0.5),
             //xColors: ['#67001f', '#b2182b', '#d6604d', '#f4a582', '#fddbc7', '#ffffff', '#e0e0e0', '#bababa', '#878787', '#4d4d4d', '#1a1a1a'],
             //yColors: ['#FFF']
             })
             document.body.appendChild(pattern.toCanvas())
         
         }
         triangle()

         function to(url){
             var xmlHttp = new XMLHttpRequest();
             xmlHttp.open( "GET", url, false ); // false for synchronous request
             xmlHttp.send( null );
             location.reload();
         }
      </script>
      {% if errorMsg == "notAllSet" %}
      <div class="alert">
         <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
         <strong>Ooops!</strong> Bitte <strong>alle</strong> Felder ausf&uuml;llen!
      </div>
      {% end %}
      <div class="limiter">
         <div class="container-login100">
            <div class="wrap-loginDyn">
               <form class="login100-form validate-form" method="post" action="/almost_done">
                  <input type="hidden" id="type" name="type" value="login">
                  <span class="login100-form-title p-b-26">
                  Fast fertig!
                  </span>
                  <span class="login100-form-title p-b-48">
                  <i class="zmdi zmdi-font"></i>
                  </span>
                  <span class="txt1">
                  Im letzten Schritt muss noch die F&auml;cherkombi angegeben werden. 
                  </span>
                  <div class="dropdown">
                     <div id="myDropdown" class="dropdown-content show">
                        <input type="text" placeholder="Suchen.." id="myInput" onkeyup="filterFunction()">
                     </div>
                  </div>
                  <script>
                     allFaecher = ["Biologie","Chemie","Chinesisch","Deutsch","Englisch","Erdkunde","Evangelisch","Französisch","Geschichte","Informatik","Katholisch","Kunst","Latein","Mathe","Musik","Philosophie","Physik","Pädagogik","SoWi","Spanisch0","Spanisch8","Sport"]
                     VTFs = ["Englisch", "Mathe", "Spanisch8"]
                     i = 0
                     li = document.getElementById("myDropdown")
                     
                     while(i < allFaecher.length){
                     	li.innerHTML = li.innerHTML + "<a onclick =\"addFach('" + i + "')\">" + allFaecher[i] + "</a>"
                     	i++
                     }
                  </script>
                  <!--<div class="wrap-input100">
                     <input class="input100" type="text" name="a1">
                     <span class="focus-input100" data-placeholder="1. Fach"></span>
                     </div>-->
                  <br>
                  <br>
                  <table>
                     <thead>
                        <tr>
                           <th>Fachname</th>
                           <th>Kursnummer</th>
                           <th>VTF</th>
                           <th>Entfernen</th>
                        </tr>
                     </thead>
                     <tbody id="myFachs">

                     </tbody>
                  </table>
                  <div class="container-login100-form-btn">
                     <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                        Speichern
                        </button>
                     </div>
                  </div>
                  <script>
                     function arrayContains(needle, arrhaystack)
                     	{
                     		return (arrhaystack.indexOf(needle) > -1);
                     	}

                     var faecher = []

                     function updateTable(){
                        if(faecher.length < 13){
                           var temp = document.getElementById("myFachs")
                           temp.innerHTML = ""
                           i = 0
                           while(i < faecher.length){
                              inp = "<tr><td> " + resolveName(faecher[i]) + "</td><td><input type=\"number\" placeholder=\"Kursnummer\" max=5 min=1 required></td>"
                              if(arrayContains(resolveName(faecher[i]), VTFs)){
                                 inp += "<td><input type=\"checkbox\"></td>"
                              }else{
                                 inp += "<td><input type=\"checkbox\" disabled></td>"
                              }
                              inp +="<td onclick=\"removeItemAndUpdate('" + faecher[i] + "')\"><i class=\"fas fa-trash\"></i></td></tr>"
                              temp.innerHTML = temp.innerHTML + inp
                              i++
                           }
                        }else{
                           alert("Es wurde die maximal Anzahl an Kursen erreicht!")
                        }
                        
                     }

                     function removeItemOnce(arr, value) {
                        var index = arr.indexOf(value);
                        if (index > -1) {
                           arr.splice(index, 1);
                        }
                        return arr;
                     }

                     function removeItemAndUpdate(value){
                        removeItemOnce(faecher, value)
                        updateTable()
                     }

                     function addFach(name) {
                     	//var temp = document.getElementById("myFachs")
                     	document.getElementById("myInput").value = "";
                     	filterFunction()
                     	if(!arrayContains(name, faecher)){
                     		//temp.innerHTML = temp.innerHTML + "<tr><td> " + name + "</td><td><i class=\"fas fa-trash\"></i></td></tr>"
                           faecher.push(name)
                           updateTable()
                     	}
                     }
                     
                     function resolveName(id){
                        return(allFaecher[id])
                     }
                     

                     function filterFunction() {
                       var input, filter, ul, li, a, i;
                       input = document.getElementById("myInput");
                       filter = input.value.toUpperCase();
                       div = document.getElementById("myDropdown");
                       a = div.getElementsByTagName("a");
                       for (i = 0; i < a.length; i++) {
                     	txtValue = a[i].textContent || a[i].innerText;
                     	if (txtValue.toUpperCase().indexOf(filter) > -1) {
                     	  a[i].style.display = "";
                     	} else {
                     	  a[i].style.display = "none";
                     	}
                       }
                     }
                  </script>
                  <!--<div class="text-center p-t-115">
                     <span class="txt1">
                     	Du hast noch keinen Account?
                     </span>
                     
                     <a class="txt2" href="/register">
                     	Einen neuen Account erstellen
                     </a>
                     </div>-->
               </form>
            </div>
         </div>
      </div>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/jquery/jquery-3.2.1.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/animsition/js/animsition.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/bootstrap/js/popper.js") }}"></script>
      <script src="{{ static_url("vendor/bootstrap/js/bootstrap.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/select2/select2.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/daterangepicker/moment.min.js") }}"></script>
      <script src="{{ static_url("vendor/daterangepicker/daterangepicker.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/countdowntime/countdowntime.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("js/main.js") }}"></script>
   </body>
</html>
