<!DOCTYPE html>
<html lang="de">
   <head>
      <title>UnitFilter - Fast fertig</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1") }}">
      <!--===============================================================================================-->	
      <link rel="icon" type="image/png" href="{{ static_url("images/icons/favicon.ico") }}"/>
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/bootstrap/css/bootstrap.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("fonts/iconic/css/material-design-iconic-font.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animate/animate.css") }}">
      <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/css-hamburgers/hamburgers.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animsition/css/animsition.min.css") }}">
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/select2/select2.min.css") }}">
      <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="{{ static_url("vendor/daterangepicker/daterangepicker.css") }}">
      <script src='https://unpkg.com/trianglify@^4/dist/trianglify.bundle.js'></script>
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="{{ static_url("css/util.css") }}">
      <link rel="stylesheet" type="text/css" href="{{ static_url("css/main.css") }}">
      <!--===============================================================================================-->
   </head>
   <body onresize="triangle()">
      <script>
         function triangle(){
           try {
         
             toDel = document.getElementsByTagName("canvas")
             i = 0
             while(i <= toDel.length){
               toDel[i].remove()
               i++;
             }
           }catch(e){
           console.log("Removal of canvas failed")
         }
         
             const pattern = trianglify({
               cellSize: 100,
               width: window.innerWidth,
               height: window.innerHeight,
               /*
               width: 3840,
               height: 2160,*/
             colorSpace: 'lab',
             colorFunction: trianglify.colorFunctions.interpolateLinear(0.5),
             //xColors: ['#67001f', '#b2182b', '#d6604d', '#f4a582', '#fddbc7', '#ffffff', '#e0e0e0', '#bababa', '#878787', '#4d4d4d', '#1a1a1a'],
             //yColors: ['#FFF']
             })
             document.body.appendChild(pattern.toCanvas())
         
         }
         triangle()
         
         
         
         
         function to(url){
             var xmlHttp = new XMLHttpRequest();
             xmlHttp.open( "GET", url, false ); // false for synchronous request
             xmlHttp.send( null );
             location.reload();
         }
      </script>
      {% if errorMsg == "notAllSet" %}
      <div class="alert">
         <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
         <strong>Ooops!</strong> Bitte <strong>alle</strong> Felder ausf&uuml;llen!
      </div>
      {% end %}
      <div class="limiter">
         <div class="container-login100">
            <div class="wrap-loginDyn">
               <form class="login100-form validate-form" method="post" action="/almost_done">
                  <input type="hidden" id="type" name="type" value="login">
                  <span class="login100-form-title p-b-26">
                  Fast fertig!
                  </span>
                  <span class="login100-form-title p-b-48">
                  <i class="zmdi zmdi-font"></i>
                  </span>
                  <span class="txt1">
                  Im letzten Schritt muss noch die F&auml;cherkombi angegeben werden. Es muss nur der Fachname (z.B. SW1) angegeben werden.
                  </span>
                  <div class="dropdown">
                     <div id="myDropdown" class="dropdown-content show">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <!--<a onclick ="addFach('1')">Biologie</a>-->
                     </div>
                  </div>
                  <script>
                     allFaecher = ["Biologie","Chemie","chinesisch","Deutsch","Englisch","Erdkunde","Evangelisch","Französisch","Geschichte","Informatik","Katholisch","Kunst","Latein","Mathe","Musik","Philosophie","Physik","Pädagogik","SoWi","Spanisch0","Spanisch8","Sport"]
                     i = 0
                     li = document.getElementById("myDropdown")
                     
                     while(i < allFaecher.length){
                     	li.innerHTML = li.innerHTML + "<a onclick =\"addFach('" + i + "')\">" + allFaecher[i] + "</a>"
                     	i++
                     }
                  </script>
                  <!--<div class="wrap-input100">
                     <input class="input100" type="text" name="a1">
                     <span class="focus-input100" data-placeholder="1. Fach"></span>
                     </div>-->
                  <br>
                  <br>
                  <div id="myFachs"> </div>
                  <div class="container-login100-form-btn">
                     <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                        Speichern
                        </button>
                     </div>
                  </div>
                  <script>
                     function arrayContains(needle, arrhaystack)
                     	{
                     					return (arrhaystack.indexOf(needle) > -1);
                     }
                     var faecher = []
                     function addFach(name) {
                     	var temp = document.getElementById("myFachs")
                     	document.getElementById("myInput").value = "";
                     	filterFunction()
                     	if(!arrayContains(name, faecher)){
                     		temp.innerHTML = temp.innerHTML + " " + name
                     		faecher.push(name)
                     	}
                     	
                     
                     }
                     function filterFunction() {
                       var input, filter, ul, li, a, i;
                       input = document.getElementById("myInput");
                       filter = input.value.toUpperCase();
                       div = document.getElementById("myDropdown");
                       a = div.getElementsByTagName("a");
                       for (i = 0; i < a.length; i++) {
                     	txtValue = a[i].textContent || a[i].innerText;
                     	if (txtValue.toUpperCase().indexOf(filter) > -1) {
                     	  a[i].style.display = "";
                     	} else {
                     	  a[i].style.display = "none";
                     	}
                       }
                     }
                  </script>
                  <!--<div class="text-center p-t-115">
                     <span class="txt1">
                     	Du hast noch keinen Account?
                     </span>
                     
                     <a class="txt2" href="/register">
                     	Einen neuen Account erstellen
                     </a>
                     </div>-->
               </form>
            </div>
         </div>
      </div>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/jquery/jquery-3.2.1.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/animsition/js/animsition.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/bootstrap/js/popper.js") }}"></script>
      <script src="{{ static_url("vendor/bootstrap/js/bootstrap.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/select2/select2.min.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/daterangepicker/moment.min.js") }}"></script>
      <script src="{{ static_url("vendor/daterangepicker/daterangepicker.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("vendor/countdowntime/countdowntime.js") }}"></script>
      <!--===============================================================================================-->
      <script src="{{ static_url("js/main.js") }}"></script>
   </body>
</html>
