<!DOCTYPE html>
<html lang="de">
<head>
	<title>UnitFilter - Changelog</title>
	<meta charset="UTF-8") }}">
	<meta name="viewport" content="width=device-width, initial-scale=1") }}">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ static_url("images/icons/favicon.ico") }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/bootstrap/css/bootstrap.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("fonts/iconic/css/material-design-iconic-font.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animate/animate.css") }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/css-hamburgers/hamburgers.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animsition/css/animsition.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/select2/select2.min.css") }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/daterangepicker/daterangepicker.css") }}">
	<script src='https://unpkg.com/trianglify@^4/dist/trianglify.bundle.js'></script>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/util.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/main.css") }}">
<!--===============================================================================================-->
</head>
<body>
	<script>
		const pattern = trianglify({
		  cellSize: 100,
		  width: 3840,
		  height: 2160,
		colorSpace: 'lab',
	  colorFunction: trianglify.colorFunctions.interpolateLinear(0.5),
	  //xColors: ['#67001f', '#b2182b', '#d6604d', '#f4a582', '#fddbc7', '#ffffff', '#e0e0e0', '#bababa', '#878787', '#4d4d4d', '#1a1a1a'],
	  //yColors: ['#FFF']
		})
		document.body.appendChild(pattern.toCanvas())
	  </script>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-loginDynNoScroll">
				<form class="login100-form validate-form" method="post" action="/">
					<input type="hidden" id="type" name="type" value="register">
					<span class="login100-form-title p-b-26">
						Changelog
					</span>
					<b>Version 1.2.0</b> Changelog wurde hinzugef&uuml;gt<br>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/jquery/jquery-3.2.1.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/animsition/js/animsition.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/bootstrap/js/popper.js") }}"></script>
	<script src="{{ static_url("vendor/bootstrap/js/bootstrap.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/select2/select2.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/daterangepicker/moment.min.js") }}"></script>
	<script src="{{ static_url("vendor/daterangepicker/daterangepicker.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/countdowntime/countdowntime.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("js/main.js") }}"></script>
	

</body>
</html>