<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UnitFilter - Index</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="TheGreydiamond and XilefTech">

  <meta property="og:title" content="UnitFilter - Register">
  <meta property="og:type" content="website">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/tailwind.css">
  <link rel="stylesheet" href="css/main.css">

</head>

<body class="dark:bg-gray-800" >
    <header class="relative flex items-center justify-center h-screen mb-12 overflow-hidden">
        <div class="relative z-30 p-5 text-5xl text-white rounded-xl">
          UnitFilter<br>
        <asd class="italic text-sm">
            <center>A next generation WebUntis filter for students</center>
        </asd>
           
        </div>
        <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
          <source src="https://assets.mixkit.co/videos/preview/mixkit-stars-in-space-1610-large.mp4" type="video/mp4" />Your browser does not support the video tag.
        </video>

      </header>
      <div class="max-w-lg m-auto">
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat a
          magna non varius. Proin leo felis, euismod non porta eget, varius sit amet
          sapien. Maecenas in nulla at leo convallis consectetur id a sapien. Nulla
          nec pulvinar nisi. Vivamus non facilisis lacus, et volutpat libero. Nulla ac
          odio aliquam, accumsan arcu ut, lacinia est. Nulla eu sem elit. Fusce nec
          laoreet sem, semper molestie libero.
        </p>
        <p class="mb-4">
          Ut sagittis lacus consequat accumsan venenatis. Sed sollicitudin, lectus et
          fringilla ultrices, dolor nisi scelerisque tortor, vel finibus magna massa
          non nunc. Phasellus massa quam, egestas a nisl sed, porta volutpat metus.
          Nunc sed elit ac tellus tempor cursus. Suspendisse potenti. Vestibulum
          varius rutrum nisl nec consequat. Suspendisse semper dignissim sem viverra
          semper. Nulla porttitor, purus nec accumsan pharetra, nisi dolor condimentum
          ipsum, id consequat nulla nunc in ligula.
        </p>
        <p class="mb-12">
          Nulla pharetra lacinia nisi, vitae mollis tellus euismod id. Mauris porta
          dignissim hendrerit. Cras id velit varius, fermentum lectus vitae, ultricies
          dolor. In bibendum rhoncus purus vel rutrum. Nam vulputate imperdiet
          fringilla. Donec blandit libero massa. Suspendisse dictum diam mauris, vitae
          fermentum dolor tincidunt in. Pellentesque sollicitudin venenatis dolor,
          vitae scelerisque elit ultrices eu. Donec eget sodales risus, quis dignissim
          neque.
        </p>
      </div>
      <!-- partial -->
</body>
</html>