<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>UnitFilter - Index</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="TheGreydiamond and XilefTech">

  <meta property="og:title" content="UnitFilter - Register">
  <meta property="og:type" content="website">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/tailwind.css">
  <link rel="stylesheet" href="css/main.css">

</head>

<body class="dark:bg-gray-800" >
    <header class="relative flex items-center justify-center h-screen mb-12 overflow-hidden">
        <div class="relative z-30 p-5 text-5xl text-white rounded-xl">
          UnitFilter<br>
        <asd class="italic text-sm">
            <center>A next generation WebUntis filter for students</center>
        </asd>
           
        </div>
        <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
          <source src="https://assets.mixkit.co/videos/preview/mixkit-stars-in-space-1610-large.mp4" type="video/mp4" />Your browser does not support the video tag.
        </video>

      </header>
      <div class="max-w-lg m-auto text-white">
        <p class="mb-4">
          Everyone knows the problem: You are in a hurry and are trying to decipher your WebUntis -
           and then it happens you make a mistake, you are too late for a lesson, or in a wrong room. This creates pain and agony.
           This happens because many schools don't setup their WebUntis Instance very good. But <b>UnitFilter</b> is here to help.

        </p>
        <p class="mb-12">
          We help you filter and sort your WebUntis to make it more sane. Displying only the courses you <b>really</b> care about.
          No Fuzz, no fees.
        </p>
      </div>
      <br><br><br><br><br><br>
      <!-- partial -->
</body>
</html>