<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}">
    <title>Webuntis</title>
</head>

<body>
    <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky"></th>
            <th class="tg-0pky">{{ datum }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0pky">{{data[0] }}</td>
            {% if roomStates[0] == True %}
                <td class="tg-0pky"><s>{{ roomData[0] }}</s></td>
            {% else %}
                <td class="tg-0pky">{{ roomData[0] }}</td>
            {% end %}
          </tr>

          <tr>
            <td class="tg-0pky">{{ data[1] }}<br></td>
            {% if roomStates[1] == True %}
                <td class="tg-0pky"><s>{{ roomData[1] }}</s></td>
            {% else %}
                <td class="tg-0pky">{{ roomData[1] }}</td>
            {% end %}
          </tr>

          <tr>
            <td class="tg-0pky">{{ data[2] }}<br></td>
            {% if roomStates[2] == True %}
                <td class="tg-0pky"><s>{{ roomData[2] }}</s></td>
            {% else %}
                <td class="tg-0pky">{{ roomData[2] }}</td>
            {% end %}
          </tr>
          <tr>
            <td class="tg-0pky">{{ data[3] }}<br></td>
            {% if roomStates[3] == True %}
                <td class="tg-0pky"><s>{{ roomData[3] }}</s></td>
            {% else %}
                <td class="tg-0pky">{{ roomData[3] }}</td>
            {% end %}
          </tr>
          <tr>
            <td class="tg-0pky">{{ data[4] }}<br></td>
            {% if roomStates[4] == True %}
                <td class="tg-0pky"><s>{{ roomData[4] }}</s></td>
            {% else %}
                <td class="tg-0pky">{{ roomData[4] }}</td>
            {% end %}
          </tr>
          <tr>
            <td class="tg-0pky">{{ data[5] }}<br></td>
            {% try %}
            {% if roomStates[5] == True %}
                <td class="tg-0pky"><s>{{ roomData[5] }}</s></td>
            {% else %}
                <td class="tg-0pky">{{ roomData[5] }}</td>
            {% end %}
            {% except %}
            {% end %}
          </tr>
          <tr>
            <td class="tg-0pky">{{ data[6] }}<br></td>
            {% try %}
            {% if roomStates[6] == True %}
                <td class="tg-0pky"><s>{{ roomData[6] }}</s></td>
            {% else %}
                <td class="tg-0pky">{{ roomData[6] }}</td>
            {% end %}
            {% except %}
            {% end %}
          </tr>
        </tbody>
        </table>
</body>

</html>