<!DOCTYPE html>
<html lang="en">
<head>
	<title>UnitFilter - Main</title>
	<meta charset="UTF-8") }}">
	<meta name="viewport" content="width=device-width, initial-scale=1") }}">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ static_url("images/icons/favicon.ico") }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/bootstrap/css/bootstrap.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("fonts/iconic/css/material-design-iconic-font.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animate/animate.css") }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/css-hamburgers/hamburgers.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/animsition/css/animsition.min.css") }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/select2/select2.min.css") }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ static_url("vendor/daterangepicker/daterangepicker.css") }}">
	<script src='https://unpkg.com/trianglify@^4/dist/trianglify.bundle.js'></script>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/util.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/main.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url("main.css") }}">
<!--===============================================================================================-->
</head>
<body>
	<script>
		const pattern = trianglify({
		  cellSize: 100,
		  width: 3840,
		  height: 2160,
		colorSpace: 'lab',
	  colorFunction: trianglify.colorFunctions.interpolateLinear(0.5),
	  //xColors: ['#67001f', '#b2182b', '#d6604d', '#f4a582', '#fddbc7', '#ffffff', '#e0e0e0', '#bababa', '#878787', '#4d4d4d', '#1a1a1a'],
	  //yColors: ['#FFF']
		})
		document.body.appendChild(pattern.toCanvas())

    function to(url){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", url, false ); // false for synchronous request
        xmlHttp.send( null );
        location.reload();
    }
</script>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-loginDyn">
      <center>
    <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky"></th>
            {% if datum == "Montag" %}
            <th class="tg-0pky th-highLight">Montag</th>
            {% else %}
            <th class="tg-0pky">Montag</th>
            {% end %}

            {% if datum == "Dienstag" %}
            <th class="tg-0pky th-highLight">Dienstag</th>
            {% else %}
            <th class="tg-0pky">Dienstag</th>
            {% end %}

            {% if datum == "Mittwoch" %}
            <th class="tg-0pky th-highLight">Mittwoch</th>
            {% else %}
            <th class="tg-0pky">Mittwoch</th>
            {% end %}

            {% if datum == "Donnerstag" %}
            <th class="tg-0pky th-highLight">Donnerstag</th>
            {% else %}
            <th class="tg-0pky">Donnerstag</th>
            {% end %}

            {% if datum == "Freitag" %}
            <th class="tg-0pky th-highLight">Freitag</th>
            {% else %}
            <th class="tg-0pky">Freitag</th>
            {% end %}

            
          </tr>
        </thead>
        <tbody>
          {% try %}
          {% set i2 = 0 %}
          {% while True %}
          <tr>
            <td class="tg-0pky">{{data[i2]}}</td>
            {% set i = 0 %}
            {% while True %}

            
              
              
              {% if roomStates[i][i2] == True %}
                  <td class="tg-0pky"><s>{{ roomData[i][i2] }}</s></td>
              {% else %}
                  <td class="tg-0pky">{{ roomData[i][i2] }}</td>
              {% end %}
              
            

              {% if i == 4 %}
              {% break %}
              {% end %}

              {% set i = i + 1 %}
            {% end %}
          </tr>
            {% if i2 == 7 %}
              {% break %}
              {% end %}
              {% set i2 = i2 + 1 %}
          {% end %}
          {% except %}
              {% end %}
          
        </tbody>
        </table>
        <a class="txt1" href="/changelog">
          Changelog - Version {{version}}
        </a>
      </center>
      
      </div>
    </div>
  </div>

  
	
        <!--<form action="/update_kurse">
            </br>
          <label for="kurs">Kursblock w&auml;hlen:</label>
          <select name="kurs" id="kurs" value={{ sel }}>
            <option value="" selected disabled>Bitte w&auml;hlen</option>
            <option value="soeren">Soeren</option>
            <option value="joshua">Joshua</option>
          </select>
          <br><br>
        </form>
        <button onclick="handleClick()">Anwenden</button>
        <script>
          function handleClick(){
            drop = document.getElementById("kurs")
            to("/update_kurse?kurs=" + drop.value)
            window.reload()
          }
        </script>-->
        <div id="myCookieConsent">
          <a id="cookieButton">Verstanden</a>
          <div>Diese Website nutzt Cookies. <a href="/legal">Mehr erfahren</a></div>
        </div>
<!--===============================================================================================-->
<script src="{{ static_url("vendor/jquery/jquery-3.2.1.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/animsition/js/animsition.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/bootstrap/js/popper.js") }}"></script>
	<script src="{{ static_url("vendor/bootstrap/js/bootstrap.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/select2/select2.min.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/daterangepicker/moment.min.js") }}"></script>
	<script src="{{ static_url("vendor/daterangepicker/daterangepicker.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("vendor/countdowntime/countdowntime.js") }}"></script>
<!--===============================================================================================-->
	<script src="{{ static_url("js/main.js") }}"></script>
	
  <script>
		// Cookie Compliancy BEGIN
function GetCookie(name) {
  var arg=name+"=";
  var alen=arg.length;
  var clen=document.cookie.length;
  var i=0;
  while (i<clen) {
	var j=i+alen;
	if (document.cookie.substring(i,j)==arg)
	  return "here";
	i=document.cookie.indexOf(" ",i)+1;
	if (i==0) break;
  }
  return null;
}
function testFirstCookie(){
	var offset = new Date().getTimezoneOffset();
	if ((offset >= -180) && (offset <= 0)) { // European time zones
		var visit=GetCookie("cookieCompliancyAccepted");
		if (visit==null){
		   $("#myCookieConsent").fadeIn(400);	// Show warning
	   } else {
			// Already accepted
	   }		
	}
}
$(document).ready(function(){
    $("#cookieButton").click(function(){
		console.log('Understood');
		var expire=new Date();
		expire=new Date(expire.getTime()+7776000000);
		document.cookie="cookieCompliancyAccepted=here; expires="+expire+";path=/";
        $("#myCookieConsent").hide(400);
    });
	testFirstCookie();
});
// Cookie Compliancy END
	</script>
</body>
</html>